.containerLayout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    h1 {
        font-family: "Sansita", sans-serif;
        font-size: 2em;
        font-weight: bold;

        color: var(--title--color);
    }

    .logo {
        width: 15.5em;
        margin: 1em 0 0; 
    }
}

.containerMain {
    margin: 2em 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}